* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita Swashed", cursive;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  flex-direction: 100vh;
  background-color: #005500;
}
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 -15px 15px rgba(0, 0, 0, 0.3);
}
.clock img {
  width: 350px;
}
.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 10000;
  border-radius: 50%;
  background: #2196f3;
}
.hour,
.min,
.sec {
  position: absolute;
}
.hour,
.hr {
  width: 200px;
  height: 200px;
}
.min,
.mn {
  width: 230px;
  height: 230px;
}
.sec,
.sc {
  width: 250px;
  height: 250px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
}
.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: rgb(182, 182, 182);
}
.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 110px;
  background: rgb(182, 182, 182);
}
.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 120px;
  background: #2196f3;
}
#disitalClock {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 10em;
  margin-top: 20px;
  text-shadow: 8px 5px 3px#091921;
}
#disitalClock #ampm {
  padding-right: 20px;
}

.color-selector {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid skyblue;
  padding: 5px 5px 0 5px;
  border-radius: 8px;
}
.color-selector p {
  color: skyblue;
  font-size: 30px;
  padding: 0 0 5px 8px;
}
.Black,
.white,
.chroma-key-w,
.chroma-key-b {
  width: 200px;
  height: auto;
  font-size: large;
  margin-bottom: 5px;
  background-color: skyblue;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  #disitalClock {
    font-size: 5em;
  }
}
@media screen and (max-width: 400px) {
  #disitalClock {
    font-size: 3.5em;
    text-shadow: 5px 2px 1px#091921;
  }
  .clock {
    width: 250px;
    height: 250px;
  }
  .clock img {
    width: 250px;
  }
  .hour,
  .hr {
    width: 160px;
    height: 160px;
  }
  .min,
  .mn {
    width: 190px;
    height: 190px;
  }
  .sec,
  .sc {
    width: 210px;
    height: 210px;
  }
  .hr::before {
    height: 80px;
  }
  .mn::before {
    height: 90px;
  }
  .sc::before {
    height: 100px;
  }
}
