.Timer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Timer-contents {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.TimePlusContents {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.TimePlusContents button {
  background-color: yellow;
  font-size: 30px;
  border: none;
  padding: 5px 0 5px 0;
  border-radius: 20px;
}
.TimeContents {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.TimeContents button {
  background-color: turquoise;
  font-size: 30px;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
}
header {
  color: white;
  font-size: 50px;
}
